@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.4s ease;
    outline: none;
}

a:hover,
a:focus {
    color: lightgrey;
    text-decoration: none;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
    background: #000046;
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    background: linear-gradient(to right, #1CB5E0, #000046);
}

nav {
    position: fixed;
    z-index: 99;
    width: 100%;
}

nav .wrapper {
    position: fixed;
    width: 100%;
    padding: 0 50px;
    height: 70px;
    line-height: 70px;
    display: flex;
    align-items: center;
    background: #000046;
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    background: linear-gradient(to right, #1CB5E0, #000046);
}

.wrapper .logo a {
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.wrapper .nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    color: lightgrey;
}

.nav-links .mobile-item {
    display: none;
}

.big-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    font-weight: 600;
    text-align: center;
}

.normal-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-top: 140px;
    white-space: nowrap;
}

.filter-options {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 195px;
    white-space: nowrap;
}

.filter-options label {
    display: inline-block;
    margin-inline: 20px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: transform ease-in-out 0.2s;
    transform-origin: center;
}

.filter-options label:hover {
    color: lightgrey;
    transform: scale(1.2);
}

.filter-options input[type="radio"] {
    display: none;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 250px;
}

img {
    opacity: 0.4;
    width: 300px;
    height: 169px;
    object-fit: cover;
    padding-right: 5px;
    padding-bottom: 5px;
}

img:hover {
    opacity: 1;
    color: black;
    transition: opacity 0.4s ease-in-out;
    cursor: pointer;
}

.images img.show {
    display: inline-block;
}

.notification {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.social-media-table {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-inside: 10px;
    padding-top: 200px;
}

.social-media-table td {
    padding: 10px;
}

.social-media-table td p {
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    margin: 4px;
    text-align: center;
}

.social-media-table td p a {
    font-size: 30px;
    transition: transform ease-in-out 0.2s;
    transform-origin: center;
    display: inline-block;
}

.social-media-table td p a:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 1100px) {
    .normal-text {
        font-size: 24px;
        margin-top: 120px;
    }

    .images {
        margin-top: 390px;
    }

    img {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin-bottom: 10px;
    }

    .filter-options {
        margin-top: 180px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 525px) {
    .normal-text {
        font-size: 20px;
        margin-top: 80px;
    }

    nav .wrapper {
        padding: 0 10px;
    }

    .nav-links li a {
        padding: 5px;
    }

    ul {
        padding: 0;
    }

    .images {
        margin-top: 340px;
    }

    .filter-options {
        margin-top: 120px;
    }

    .social-media-table {
        padding-top: 80px;
    }
}